.mb {
	margin-bottom: 25px;
}

.pn {
	height: 250px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);	
}

.movie {
	text-align: center;
	background-position: center center;
}
.movie i {
	color: white;
	margin-top: 45px;
}
.movie h2 {
	color: white;
	font-weight: 900;
}
.movie h4 {
	color: white;
	font-weight: 900;
	letter-spacing: 1px;
}